In [1]:
import pandas
pandas.__version__

'2.0.0'

In [6]:
#Creando data frames 
import pandas as pd
df = pd.DataFrame(
    {
        "Name": [
            "Braund, Mr. Owen Harris",
            "Allen, Mr. William Henry",
            "Bonnell, Miss. Elizabeth",
        ],
        "Age": [22, 35, 58],
        "Sex": ["male", "male", "female"],
    }
)


df

                       Name  Age     Sex
0   Braund, Mr. Owen Harris   22    male
1  Allen, Mr. William Henry   35    male
2  Bonnell, Miss. Elizabeth   58  female

In [13]:
df["Age"]

0    22
1    35
2    58
Name: Age, dtype: int64

In [19]:
#Creando series desde 0
ages = pd.Series([22, 35, 58], name="Age")
ages
cliente = pd.Series(["si", "no" , "no"], name="Cliente")
cliente

df["Age"].max() #Sacando la maxima edad del dataframe
ages.max() #Sacando la edad maxima de la serie

#el metodo describe() nos da una rapida vista a los datos numericos del data frame 
df.describe()

             Age
count   3.000000
mean   38.333333
std    18.230012
min    22.000000
25%    28.500000
50%    35.000000
75%    46.500000
max    58.000000

In [30]:
#Instalando Openpyxl
pip install --user -U openpyxl==2.6.2 
#Para actualizar Openpyxl
#python.exe -m pip install --upgrade pip

Note: you may need to restart the kernel to use updated packages.

ERROR: Can not perform a '--user' install. User site-packages are not visible in this virtualenv.

[notice] A new release of pip available: 22.3.1 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [31]:
#Cargar archivos csv
titanic = pd.read_csv("titanic.csv")
titanic

titanic.head(8) #Muestra las primeras 8 filas
titanic.dtypes #Muestra como panda interpreta los tipos de cada columna

#Crea un archivo de excel con el data frame
titanic.to_excel("titanic.xlsx", sheet_name="passengers", index=False)

ModuleNotFoundError: No module named 'openpyxl'