In [1]:
import pandas
pandas.__version__

'2.0.0'

In [2]:
#Creando data frames 
import pandas as pd
df = pd.DataFrame(
    {
        "Name": [
            "Braund, Mr. Owen Harris",
            "Allen, Mr. William Henry",
            "Bonnell, Miss. Elizabeth",
        ],
        "Age": [22, 35, 58],
        "Sex": ["male", "male", "female"],
    }
)


df

                       Name  Age     Sex
0   Braund, Mr. Owen Harris   22    male
1  Allen, Mr. William Henry   35    male
2  Bonnell, Miss. Elizabeth   58  female

In [13]:
df["Age"]

0    22
1    35
2    58
Name: Age, dtype: int64

In [3]:
#Creando series desde 0
ages = pd.Series([22, 35, 58], name="Age")
print(ages)
cliente = pd.Series(["si", "no" , "no"], name="Cliente")
print(cliente)
paginas = pd.Series([15,18,22,23,24,25,50], name="Paginas")
print(paginas)

df["Age"].max() #Sacando la maxima edad del dataframe
ages.max() #Sacando la edad maxima de la serie

#el metodo describe() nos da una rapida vista a los datos numericos del data frame 
df.describe()

paginas.max()
paginas.describe()

0    22
1    35
2    58
Name: Age, dtype: int64
0    si
1    no
2    no
Name: Cliente, dtype: object
0    15
1    18
2    22
3    23
4    24
5    25
6    50
Name: Paginas, dtype: int64

count     7.000000
mean     25.285714
std      11.455920
min      15.000000
25%      20.000000
50%      23.000000
75%      24.500000
max      50.000000
Name: Paginas, dtype: float64

In [3]:
#Instalando Openpyxl
#! pip install openpyxl 
#Para actualizar Openpyxl
#! python.exe -m pip install --upgrade pip
#Para instalar la libreria matplotlib 
#! pip3 install matplotlib

Requirement already satisfied: pip in c:\users\jorge.marquez\desktop\test\venv\lib\site-packages (23.0.1)
Collecting pip
  Downloading pip-23.1-py3-none-any.whl (2.1 MB)
     ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
      --------------------------------------- 0.0/2.1 MB 1.3 MB/s eta 0:00:02
     - -------------------------------------- 0.1/2.1 MB 1.1 MB/s eta 0:00:02
     --- ------------------------------------ 0.2/2.1 MB 1.7 MB/s eta 0:00:02
     ----- ---------------------------------- 0.3/2.1 MB 1.5 MB/s eta 0:00:02
     -------- ------------------------------- 0.5/2.1 MB 2.1 MB/s eta 0:00:01
     ------------- -------------------------- 0.7/2.1 MB 2.6 MB/s eta 0:00:01
     ------------------ --------------------- 1.0/2.1 MB 3.0 MB/s eta 0:00:01
     ----------------------- ---------------- 1.2/2.1 MB 3.4 MB/s eta 0:00:01
     ------------------------------- -------- 1.6/2.1 MB 3.9 MB/s eta 0:00:01
     ----------------------------------- ---- 1.8/2.1 MB 4.0 MB/s eta 0:00:01
     -------------------------------------- - 2.0/2.1 MB 4.1 MB/s eta 0:00:01
     ---------------------------------------- 2.1/2.1 MB 3.9 MB/s eta 0:00:00
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 23.0.1
    Uninstalling pip-23.0.1:
      Successfully uninstalled pip-23.0.1
Successfully installed pip-23.1

Para el error ERROR: Can not perform a '--user' install. User site-packages are not visible in this virtualenv.
Abrir el folder venv.
Click en el archivo pyvenv.cfg file.
Establecer la propiedad de  include-system-site-packages a true.
Guardar el archivo.
Regresar al comando pip install donde se presento el error.

In [14]:
import pandas as pd

import openpyxl

#Cargar archivos csv
titanic = pd.read_csv("titanic.csv")
print(titanic)
#print (titanic)
print (titanic.head(8)) #Muestra las primeras 8 filas
print (titanic.dtypes) #Muestra como panda interpreta los tipos de cada columna

#Crea un archivo de excel con el data frame
titanic.to_excel("titanic.xlsx", sheet_name="passengers", index=False)

<bound method DataFrame.info of      PassengerId  Survived  Pclass
0              1         0       3  \
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp
0                              Braund, Mr. Owen Harris    male  22.0      1  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]>

In [ ]:
import openpyxl
titanic = pd.read_excel("titanic.xlsx", sheet_name="passengers")
print(titanic.head())
print(titanic.info())
print(titanic.tail())

In [ ]:
#Seleccionando una sub serie del data frame
import pandas as pd
import openpyxl

titanic = pd.read_csv("titanic.csv")
#print(titanic.head())

ages = titanic["Age"]
print(ages.head())

type(titanic["Age"])
titanic["Age"].shape

#Seleccionando multiples columnas
age_sex = titanic[["Age", "Sex"]]
print(age_sex.head())
type(titanic[["Age", "Sex"]])
titanic[["Name", "Age", "Sex"]].shape

#Filtrar filas especificas del dataframe
above_35 = titanic[titanic["Age"] > 35] #Valida y selecciona las filas que tengan el valor mayor a 35 en la columna Age
above_35.head()

titanic["Age"] > 35 #La condición valida cual fila en la columna Age es mayor a 35

above_35.shape

#Validar si un valor se encuentra en una columna
class_23 = titanic[titanic["Pclass"].isin([2, 3])]
print(class_23.head())

#Se pueden combinar multiples declaraciones condicionales, cada condición debe de estar entre parentesis 
#No se pueden usar las condiciones or/and, pero si los operadores or = | y and = & 
class_23 = titanic[(titanic["Pclass"] == 2) | (titanic["Pclass"] == 3)]
print(class_23.head())

#La función condicional notna() regresa un true por cada fila que su valor no es nulo
#Asi seleccionamos las filas de las cuales conocemos la edad de los pasajeros
age_no_na = titanic[titanic["Age"].notna()]
age_no_na.head()
age_no_na.shape

#Como seleccionar especificas filas y columnas del dataframe
#Seleccionando pasajeros mayores de 35 años
adult_names = titanic.loc[titanic["Age"] > 35, "Name"] #Se utiliza loc cuando se seleciona por la etiqueta
print("validando prueba")
#prueba = titanic[["Age", "Sex"]]
#print(prueba)
print(adult_names.head())

#Seleccionando filas de 10 al 25 y columnas 3 al 5
titanic.iloc[9:25, 2:5] #Se utiliza iloc cuando se selecciona por posiciones

#Cambiando el valor name a los datos seleccionados
#Asignando el valor anonymus a los primeros tres elementos de la tercera columna
titanic.iloc[0:3, 3] = "anonymous"
print("nombres anonimos")
print(titanic.head())

titanic.to_excel("titanic.xlsx", sheet_name="passengers", index=False)

In [ ]:
#Ejemplos de uso de loc
import pandas as pd
import openpyxl
technologies = {
    'Courses':["Spark","PySpark","Hadoop","Python","pandas"],
    'Fee' :[20000,25000,26000,22000,24000],
    'Duration':['30day','40days','35days','40days','60days'],
    'Discount':[1000,2300,1200,2500,2000]
              }
index_labels=['r1','r2','r3','r4','r5']
df = pd.DataFrame(technologies,index=index_labels)
#print(df)

# Select single Row
print(df.loc['r2'])

# Select Single Column by label
print("Select Single Column by label Courses \n", df.loc[:, "Courses"])

# Select Multiple Rows by Label
print(df.loc[['r2','r3']])

# Select Multiple Columns by labels
print(df.loc[:, ["Courses","Fee","Discount"]])

# Select Rows Between two Index Labels
# Includes both r1 and r4 rows
print(df.loc['r1':'r4'])

# Select Columns between two Labels
# Includes both 'Fee' and 'Discount' columns
print(df.loc[:,'Fee':'Discount'])

# Select Alternate rows By indeces
print(df.loc['r1':'r4':2])

# Select Alternate Columns between two Labels
print(df.loc[:,'Fee':'Discount':2])

# Using Conditions
print(df.loc[df['Fee'] >= 24000])
df.to_excel("technologies.xlsx", index=False)

In [ ]:
#Creando graficas
import pandas as pd
#! pip install matplotlib
import matplotlib.pyplot as plt
air_quality = pd.read_csv("air_quality_no2.csv", index_col=0, parse_dates=True)
air_quality.head()
air_quality.plot()
air_quality["station_paris"].plot()
plt.show()
air_quality.plot.scatter(x="station_london", y="station_paris", alpha=0.5)
plt.show()
#Para mostrar los tipos de grafica
[
    method_name
    for method_name in dir(air_quality.plot)
    if not method_name.startswith("_")
]

air_quality.plot.box()
plt.show()

axs = air_quality.plot.area(figsize=(12, 4), subplots=True)
plt.show()

fig, axs = plt.subplots(figsize=(12, 4))
air_quality.plot.area(ax=axs)

axs.set_ylabel("NO$_2$ concentration")

fig.savefig("no2_concentrations.png")

Para importar la libreria 'matplotlib' es necesario instalar la libreria
 ! pip install matplotlib

fig, axs = plt.subplots(figsize=(12, 4))        # Create an empty Matplotlib Figure and Axes
air_quality.plot.area(ax=axs)                   # Use pandas to put the area plot on the prepared Figure/Axes
axs.set_ylabel("NO$_2$ concentration")          # Do any Matplotlib customization you like
fig.savefig("no2_concentrations.png")           # Save the Figure/Axes using the existing Matplotlib method.
plt.show()                                      # Display the plot